.navbar{
    height:50px;
    background-color: white;
    color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
   

}.logo{
    margin-left:100px;
align-items:center;
width:70px;
height:50px;
}

.list{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 20px;
}
.listItem{
    margin-right: 20px;
    font-weight :500;
    cursor: pointer;
}
.avatar{
   width:32px; 
   height:32px;
   border-radius: 50%;
}
.link{
    color:inherit;
text-decoration: none;
margin: 20px;
font-weight: 700;}